* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}

body {
    font-family: "open-sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #333;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #333;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 950px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.header .container .logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.header .container .logo::before {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    background-color: white;
    bottom: 0px;
    left: 23px;
    z-index: -1;

}

.header .container .logo .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 10px;
}

.header .container .logo .nav>i {
    display: none;
    padding: 10px;
    color: white;
}

.header .container .logo .image {
    background-color: transparent;
}

.header .container .logo img {
    height: 70px;
}

@media (min-width:768px) {
    .header .container .logo ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .container .logo ul li .active {
        color: #19c8fa;
        border-bottom: 3px solid var(--main-color);
    }

    .header .container .logo ul li a:hover {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
        opacity: 1;
        z-index: 998;
    }
}

.header .container .logo ul li a {
    padding: 9px 10px 36px;
    color: white;
}

.header .container .logo ul li a:hover {
    color: var(--main-color);
}

.header .container .logo .from {
    padding-left: 10px;
    position: relative;
    color: white;

}

.header .container .logo .from::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 26px;
    background-color: white;
    left: 0;
    top: -5px;
}


@media (max-width:768px) {
    .header .container .logo .nav>i {
        display: block;
    }

    .header .logo ul {
        position: absolute;
        top: 115px;
        left: 0;
        background-color: rgb(0 0 0 / 60%);
        width: 110%;
        display: none
    }

    .header .logo ul li {
        padding: 10px;
        border-bottom: 1px solid var(--main-color);
    }

    .header .logo ul li a {
        padding: 10px;
    }

    .header .container .logo i:hover+ul {
        display: block;
    }

    .header .logo ul li a:hover {
        border-bottom: 1px solid var(--main-color);
        padding: 10px;
    }
}

.landing {
    position: relative;
    background-image: url(../CSS/photo/R\ \(1\).jpg);
    background-size: cover;
    min-height: 100vh;
    background-color: #1f2021;

}


.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);

}

.landing .landing-content .box {
    background-color: var(--transparent-color);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translatey(-40%);
    width: 50%;
    padding: 10px;
}

.landing .landing-content .address {
    margin-left: 115px;
    padding: 20px;
    line-height: 1.5;
    color: white;
    font-size: 18px;
}


.landing .landing-content p {
    color: white;
    padding: 22px;
    line-height: 1.7;
    margin-left: 115px;
    font-size: 14px;
}

.landing .landing-content .icon i:first-child {
    top: 50%;
    padding: 10px;
    color: white;
    position: absolute;
}

.landing .landing-content .icon i:last-child {
    top: 50%;
    padding: 10px;
    color: white;
    position: absolute;
    right: 0;
}

@media (max-width:768px) {


    .landing .landing-content .box {
        width: 100%;
    }

    .landing .landing-content .box .address {
        margin: 10px;
        text-align: center;
    }

    .landing .landing-content .box p {
        margin: 10px;
        text-align: center;
    }

    .landing .landing-content .icon {
        display: none;
    }
}

.services {
    padding: 100px 0px;
    position: relative;
}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
}

.services .service-content .box {
    display: flex;

}

.services .service-content .box i {
    margin-right: 40px;
}

.services .service-content .box .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .service-content .box .text p {
    color: #777;
    line-height: 2;
}

@media (max-width:768px) {
    .services .service-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services .service-content .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services .service-content .box i {
        padding: 15px;
        margin: 0;
    }

    .services .service-content .box .text {
        text-align: center;
        max-width: 100%;
    }
}

.features {
    background-image: url(../CSS/photo/OIP\ \(5\).jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.features .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.features .content img {
    position: relative;
    bottom: -192px;
    text-align: center;
    left: 21%;
}

.features .content .info {
    background-color: var(--transparent-color);
    padding: 35px;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translatey(16%);
    color: white;
}

.features .content .info h3 {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: normal;
}

.features .content .info ul {
    padding: 15px;
}

.features .content .info ul li {
    margin: 15px 20px;
    position: relative;
}

.features .content .info ul li::before {
    font-family: "font awesome 5 free";
    content: '\f108';
    position: absolute;
    font-weight: 800;
    left: -40px;
}

@media (max-width:992px) {
    .features .content img {
        display: none;
    }

    .features .content .info {
        width: 100%;
    }
}

.Portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.Portfolio ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.Portfolio ul li {
    padding: 10px;
}

.Portfolio ul li:hover {
    background-color: #19c8fa;
    color: white;
}

.Portfolio ul .active {
    background-color: #19c8fa;
    color: white;
}

.Portfolio .photoes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.Portfolio .photoes .image {
    position: relative;
    overflow: hidden;
}

.Portfolio .photoes img {
    min-width: 378px;
    height: 300px;
    flex: 1;
}

.Portfolio .photoes img:hover {
    transform: rotate(3deg) scale(1.2);
    transition: 0.3s;
}

.Portfolio .photoes .image:hover .text {
    bottom: 0;
    z-index: 1;
    transition: 0.3s ease;

}

.Portfolio .photoes .image .text {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: -85px;
    transition: 0.3s ease;

}

.Portfolio .photoes .image .text h3 {
    padding: 15px 15px 0px;
    color: var(--main-color);
}

.Portfolio .photoes .image .text p {
    padding: 15px;
}

.Portfolio .photoes a {
    padding: 10px 15px;
    background-color: #19c8fa;
    color: white;
    display: block;
    margin: 20px auto;
}

@media (min-width:768px) {
    .Portfolio .photoes .image {
        flex-basis: 50%;
    }

    .Portfolio .photoes img {
        width: 100%;
    }
}

@media (max-width:768px) {
    .Portfolio .photoes .image {
        flex-basis: 100%;
    }

    .Portfolio .photoes img {
        width: 100%;
    }
}

@media (min-width:1190px) {
    .Portfolio .photoes .image {
        flex-basis: 25%;
    }

    .Portfolio .photoes img {
        width: 100%;
    }
}

.video {
    position: relative;
}

.video::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 25px;
    background-color: var(--transparent-color);
    text-align: center;
    color: white;
}

.video .text h3 {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: normal;
}

.video .text p {
    padding: 15px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 12px;
}

.video .text span {
    background-color: black;
    padding: 10px 16px;
    text-transform: capitalize;
}

@media (max-width:768px) {
    .video .text {
        max-width: 100%;
        position: absolute;
        top: 0;
        padding: 40px;
    }
}

.about {
    padding-top: 100px;
}

.about .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about .about-content img {
    position: absolute;
    top: -47px;
}

.status {
    padding-bottom: 100px;
    background-image: url(../CSS/photo/desktop-wallpaper-cool-spotify-playlist-covers-thumbnail.jpg);
    background-size: cover;
    position: relative;
    padding-top: 100px;
    margin-top: 114px;
}

.status .boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--transparent-color);
    color: white;
}

.status .boxes .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.status .boxes .info i {
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

.status .boxes .info span {
    font-size: 35px;
    padding: 25px;
    font-weight: 900;
}

.status .boxes .info p {
    font-size: 14px;
}

@media (max-width:768px) {

    .about .about-content img {
        max-width: 100%;
    }

    .status {
        padding-top: 88px;
    }

    .status .boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .status .boxes .info {
        margin-bottom: 45px;
    }
}

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

}

.skills .box {
    display: flex;
    gap: 20px;
}

.skills .box .Testimonials {
    padding: 10px;
}

.skills .box .Testimonials .address {
    text-align: center;
    margin-bottom: 55px;
}

.skills .box .Testimonials .address h2 {
    padding: 10px;
    font-weight: normal;
}

.skills .box .Testimonials .address p {
    line-height: 1.7;
    color: #777;
}


.skills .box .Testimonials .text .avator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.skills .box .Testimonials .text .avator img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 60px;
}

.skills .box .Testimonials .text .avator .info {
    line-height: 1.7;
    font-size: 14px;
}

.skills .box .Testimonials .text .avator .info span {
    display: flex;
    justify-content: end;
}

.skills .box .sky {
    padding: 10px;
    position: relative;
}

.skills .box .sky .address {
    text-align: center;
    margin-bottom: 55px;
}

.skills .box .sky .address h2 {
    padding: 10px;
    font-weight: normal;
}

.skills .box .sky .address p {
    line-height: 1.7;
    color: #777;
}

.skills .box .sky .abode {
    position: relative;
    margin-bottom: 40px;
}

.skills .box .sky .abode p {
    margin-bottom: 10px;
}

.skills .box .sky .prog {
    background-color: #ececec;
    height: 30px;
}

.skills .box .sky .abode span {
    background-color: #19c8fa;
    height: 100%;
    position: relative;
    display: block;
}

.skills .box .sky .abode span::before {
    position: absolute;
    content: attr(data-progress);
    right: -14px;
    top: -31px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    z-index: 100;

}

.skills .box .sky .abode span::after {
    top: -14px;
    right: -9px;
    position: absolute;
    content: "";
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;

}

.skills .box .sky .html {
    position: relative;
    margin-bottom: 40px;
}

.skills .box .sky .html p {
    margin-bottom: 10px;
}

.skills .box .sky .html .prog {
    background-color: #ececec;
    height: 30px;
}

.skills .box .sky .html span {
    background-color: #19c8fa;
    position: relative;
    display: block;
    height: 100%;
}

.skills .box .sky .html span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    z-index: 100;
    right: -15px;
    top: -30px;

}

.skills .box .sky .html span::after {
    content: "";
    position: absolute;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    right: -9px;
    top: -13px;
}

.skills .box .sky .js {
    position: relative;
    margin-bottom: 40px;
}

.skills .box .sky .js p {
    margin-bottom: 10px;
}

.skills .box .sky .js .prog {
    background-color: #ececec;
    height: 30px;
}

.skills .box .sky .js span {
    background-color: #19c8fa;
    position: relative;
    display: block;
    height: 100%;
}

.skills .box .sky .js span::before {
    position: absolute;
    content: attr(data-progress);
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    z-index: 100;

    right: -14px;
    top: -30px;
}


.skills .box .sky .js span::after {
    position: absolute;
    content: "";
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -14px;
    right: -9px;
}

.skills .box .sky .Php {
    position: relative;
}

.skills .box .sky .Php p {
    margin-bottom: 10px;
}

.skills .box .sky .Php .prog {
    background-color: #ececec;
    height: 30px;
}

.skills .box .sky .Php span {
    background-color: #19c8fa;
    position: relative;
    display: block;
    height: 100%;
}

.skills .box .sky .Php span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    z-index: 100;
    right: -14px;
    top: -31px;
}

.skills .box .sky .Php span::after {
    position: absolute;
    content: "";
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -14px;
    right: -9px;
}

@media (max-width:768px) {
    .skills .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .box .Testimonials .text .avator {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills .box .Testimonials .text .avator img {
        margin-bottom: 20px;
    }

    .skills .box .Testimonials .text .avator .info span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.jon {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-image: url(../CSS/photo/banner-6617553_1280.jpg);
    background-size: cover;

}

.jon h2 {
    text-align: center;
    color: white;
    font-weight: normal;
}

@media (max-width:768px) {
    .jon h2 {
        font-size: 15px;
    }

}


.jon span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
}

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.pricing .pricing-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.pricing .pricing-content .boxes {
    text-align: center;
    border-top: 1px solid #19c8fa;
    background-color: ghostwhite;
}

.pricing .pricing-content .boxes .address {
    border-bottom: 1px solid #19c8fa;
    padding: 17px;
}

.pricing .pricing-content .boxes .address h3 {
    font-weight: normal;
    padding: 10px;
}

.pricing .pricing-content .boxes .address span {
    font-size: 45px;
    font-weight: bold;
}

.pricing .pricing-content .boxes ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .pricing-content .boxes ul li {
    padding: 10px;
    width: fit-content;
    margin: 20px auto;
}

.pricing .pricing-content .boxes ul li:not(:last-child) {
    border-bottom: 1px solid #19c8fa;
}

.pricing .pricing-content .boxes .foot {
    padding: 40px;
}

.planet {
    background-image: url(../CSS/photo/planet-earth-night-space-some-elements-image-furnished-nasa-72442039.webp);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    height: 40%;
}

.planet .container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.planet .container form {
    border: 1px solid white;
}

.planet .container form i {
    padding: 10px;
}

.planet .container form .em {
    position: relative;
    background: none;
    color: white;
    padding: 10px;
    border: none;
    caret-color: white;
    outline: none;
}

.planet .container form .sub {
    font-size: 14px;
    padding: 12px;
    background-color: var(--main-color);
    color: white;
    border: none;
}

.planet .container p {
    max-width: 500px;
}

@media (max-width:992px) {
    .planet .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .planet .container form {
        margin-bottom: 20px;
    }
}

.contcat {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contcat .number {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contcat .number form {
    flex-basis: 70%;
}

.contcat .number form .names {
    width: 100%;
    padding: 10px;
    margin: 15px;
    outline: none;
}

.contcat .number form .email {
    width: 100%;
    padding: 10px;
    margin: 15px;
    outline: none;
}

.contcat .number form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px;
    height: 200px;
    outline: none;
}

.contcat .number .get .touch {
    margin: 15px 0px;
}

.contcat .number .get .touch h3 {
    font-weight: normal;
    padding: 10px;
}

.contcat .number .get .touch span {
    display: block;
    padding: 10px;
    color: #777;
}

.contcat .number .get .where {
    margin: 15px 0px;
}

.contcat .number .get .where h3 {
    font-weight: normal;
    padding: 10px;
}

.contcat .number .get .where span {
    display: block;
    padding: 10px;
    color: #777;
}

@media (max-width:768px) {
    .contcat .number {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}

footer {
    background-image: url(../CSS/photo/planet-earth-night-space-some-elements-image-furnished-nasa-72442039.webp);
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    top: 0;
    left: 0;
}

footer .image {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

footer img {
    height: 50px;
}

footer p {
    padding: 10px;
    font-size: 29px;
    font-weight: normal;
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    position: relative;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19c8fa;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

footer ul li {
    padding: 15px;
}

footer span {
    position: relative;
}

footer span span {
    color: #19c8fa;
    padding: 5px;
}